<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangzhenghe.dao.BookMapper">
    <insert id="addBook" parameterType="Books">
        INSERT INTO books(bookName, bookCounts, detail) VALUES(#{bookName},#{bookCounts}, #{detail})
    </insert>

    <select id="queryBookById">
        SELECT * FROM books WHERE bookID={#bookID}
    </select>

    <update id="updateBook" parameterType="Books">
        UPDATE books
        set bookName = #{bookName},bookCounts = #{bookCounts},detail = #{detail} where bookID = #{bookID}
    </update>

    <select id="queryBook" resultType="Books">
        SELECT * FROM books
    </select>

    <delete id="deleteBookById">
        DELETE FROM books WHERE bookID=#{bookID}
    </delete>
</mapper>